# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
db.sqlite3
*.pyc
*.pyo
*.pyd
*.pdb
*.log

# Django specific
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.log
local_settings.py

# Media
/media
/staticfiles

# VS Code
.vscode/

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/

# Git
*.swp
*.swo
